@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
.leaderBoard-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
.leader-board {
    width: 380px;
	height: auto;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	overflow: hidden;
}
.heading{
    background: #3A404D;
    color: white;
    padding: 20px;
    text-align: center;
}
.persons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 15px 25px;
    /* default color if no color assigned using code leader-board .persons:nth-child(n){color:#xxx;} */
    background: #818181; 
}
.persons h1{
    font-size: 19px;
    color: white;
}
.leader-board .persons:nth-child(1) {
	background: #fa6855;
}
.leader-board .persons:nth-child(2) {
	background: #e0574f;
}
.leader-board .persons:nth-child(3) {
	background: #d7514d;
}
.leader-board .persons:nth-child(4) {
	background: #cd4b4b;
}
.leader-board .persons:nth-child(5) {
	background: #c24448;
}

@media only screen and (max-width: 600px) {
    .leader-board {
        width: 95%;
        height: auto;
        border-radius: 10px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        overflow: hidden;
    }
}